{% extends 'book/base.html' %}
{% load extra_tags %}
{% load static %}


{% block title %} {{ object.title }} {% endblock title %}
{% block h1 %}書籍詳細{% endblock %}

{% block content %}

    <div class="p-4 m-4 bg-light border border-success rounded">
        {% for book_obj in page_obj %}
            <h2 class="text-success">{{ book_obj.title }}</h2>
            <br>
            <a href=""><img src="{{ book_obj.book_image_url }}" class="img-thumbnail"></a>
            <br>
            <br>
            <h6>著者</h6>
            <hr>
            <p style="margin-left: 5px;">{{ book_obj.author}}</p>
            <br>
            <h6>価格</h6>
            <hr>
            <p style="margin-left: 5px;">￥{{ book_obj.price}}</p>
            <br>
            <h6>内容</h6>
            <hr>
            <p style="margin-left: 5px;">{{ book_obj.book_contents}}</p>
            <br>
            <h6>出版社</h6>
            <hr>
            <p style="margin-left: 5px;">{{ book_obj.publisherName }}</p>
            <br>
            <h6>発売日</h6>
            <hr>
            <p style="margin-left:5px;">{{ book_obj.salesDate }}</p>
            <br>
            <h6>書籍購入</h6>
            <hr>
            <a href="{{ book_obj.book_url }}"><img src="{% static 'image/楽天.jpg' %}" style="width: 100px; height: 55px"></a>
            <a href="https://www.amazon.co.jp/?&tag=hydraamazonav-22&ref=pd_sl_7ibq2d37on_e&adgrpid=56100363354&hvpone=&hvptwo=&hvadid=592007363477&hvpos=&hvnetw=g&hvrand=12297889841017896830&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1009552&hvtargid=kwd-10573980&hydadcr=27922_14541005&gclid=Cj0KCQjwjvaYBhDlARIsAO8PkE1HwEE9tEvPqUhl2qtwplY8-vQGr9hfhBzLSz1ptbEk7FjDy1xzLc0aAkLQEALw_wcB"><img src="{% static 'image/amazon.jpg' %}" style="width: 100px; height: 55px" ></a>
            <a href="https://jp.mercari.com/"><img src="{% static 'image/mercari.jpg' %}" style="width: 100px; height: 60px" ></a>
            <a href="https://auctions.yahoo.co.jp/?cpt_s=onlineads&cpt_m=websem&cpt_c=webgkt&cpt_n=17470362622_aud-303767875568:kwd-10755383427_615399667164&gclid=Cj0KCQjwjvaYBhDlARIsAO8PkE0gWZv4PIFYfdcqoyZQIEI_0-37_lIhY3y3ptsewHDbok_Vi6DfQNgaAhc1EALw_wcB"><img src="{% static 'image/ヤフオク.jpg' %}" style="width: 100px; height: 60px" ></a>
            <a href="https://paypayfleamarket.yahoo.co.jp/"><img src="{% static 'image/PayPayフリマ.png' %}" style="width: 200px; height: 60px"></a>
            <br>
            <br>
        {% endfor %}
        <h6>{{ book_title }}でYouTube検索</h6>
        <hr>
        {% if not youtube_video_url_dict %}
            <h6 style="color:gray; margin-left: 5px;">{{ book_title }}にあてはまる動画はありません。</h6>
        {% else %}
            {% for title, url in youtube_video_url_dict.items %}
                    <ui>
                        <p style="margin-left: 5px;"><a href="{{ url }}">{{ title }}</a></p>
                    </ui>
            {% endfor %}
        {% endif %}
        <br>
        <h6>{{ book_title }} 要約でGoogle検索</h6>
        <hr>
        {% for title, url in Google_search_result_date_url.items %}
                <ui>
                    <p style="margin-left: 5px;"><a href="{{ url }}">{{ title }}</a></p>
                </ui>
        {% endfor %}
        <br>
        <h6>すべてのレビュー</h6>
        <hr>
        <div class="border p-4 mb-2">
            {% if not review_book_list %}
                <h6 style="color:gray">現在レビューはありません</h6>
            {% else %}
                {% for review in review_book_list %}
                    <div>
                        <h3 class="h4">{{ review.title }}</h3>
                        <div class="px-2">
                            <span>投稿ユーザー: {{ review.user.username }}</span>
                            <br>
                            <h6>評価: {{ review.rate }}点</h6>
                            <p>{{ review.text }}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
        <a href="{% url 'index' %}" class="btn btn-primary">一覧へ</a>
        <a href="{% url 'review' book_review_title=book_title %}" class="btn btn-primary">レビューする</a>
    </div>
{% endblock content%}